<% if current_user %>
	<h3>Welcome: <%= current_user.email %></h3>
<% else %>

<div class="row">
	<div class="jumbotron">
		<h2>Welcome to the Photo Management App!</h2>
		<p class="lead">You'll love managing your Photos with our application. Sign up!</p>
	</div>

	<div class="plans clearfix">
		<div class="col-lg-12 plan">
			<div class="features">
				<div class="row">
					<div class="col-lg-4">
						<div class="feature">
							<i class="fa fa-picture-o" aria-hidden="true"></i>
							<p>Unlimited Image Uploads</p>
						</div>						
					</div>
					<div class="col-lg-4">
						<div class="feature">
							<i class="fa fa-arrows" aria-hidden="true"></i>
							<p>Responsive Design</p>
						</div>						
					</div>
					<div class="col-lg-4">
						<div class="feature">
							<i class="fa fa-money" aria-hidden="true"></i>
							<p>Forever Free</p>
						</div>						
					</div>
				</div>

				<p><%= link_to 'Sign Up Now', new_user_registration_path, class: 'btn btn-primary sign-up' %></p>
			</div>
		</div>
	</div>
</div>

<% end %>